.toggleContainer {
  float: left;
  margin: 20px;
}

.searchContainer {
  float: left;
  margin-top: 20px;
  margin-left: 50px;
}

.admin__container {
  position: absolute;
  /* float:left; */
  left: 10%;
  margin-left: -50px;
  right: 10%;
  margin-right: -50px;
  height: auto;
  top: 10%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
  text-align: center;
}

.admin-form__restaurant-button {
  margin: 30px 15px 30px 15px;
}

.admin-form__user-button {
  margin: 30px 15px 30px 15px;
}
