.item-card {
    flex: 0 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    min-width: 300px;
    display: inline-block;
}

.item-card .info {
    width: 70%;
    float: left;
}

.item-card img {
    width: 30%;
}

.item-card h4, p, input, textarea{
    padding: 0;
    margin: 10px;
    resize: none;
}

.item-card button {
    position: relative;
    top: 50px;
}
