.login-form__container {
    position: absolute;
    display: inline-block;
    justify-content: center;
    border: 2px solid black;
    margin: 10px;
    height: 600px;
    width: 100%;
  }

  #select-title {
      font-size: 20px;
  }
  
  .login__bg-image {
    position: relative;
    float:left;
    margin:50px;
    width:500px;
    height:500px;
    
  }

  #img {
      width:500px;
      height:500px;
  }
  
  .select-user__grid {
    position:relative;
    float:left;
    margin:50px;
    width:400px;
    height:500px;
    top:200px;
  }
  
  .select__submit-button{
    justify-content: center;
  }