/* .login-form__container {
  position: absolute;
    display: inline-block;
    justify-content: center;
    border: 2px solid black;
    margin: 10px;
    height: 600px;
    width: 100%;
    text-align: center;
  } */
  
.login__bg-image {
  position: relative;
    float:left;
    margin:50px;
    width:500px;
    height:500px;
    
}

#img {
  width:500px;
  height:500px;
}

.user-login-form__grid {
  position: absolute;
    /* float:left; */
    left: 50%;
    margin-left: -250px;
    width: 500px;
    height: auto;
    top: 30%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
    text-align: center;
  }

.user-login-form__submit-button {
  margin: 30px 15px 30px 15px;
} 

.user-login-form__back-button {
  margin: 30px 15px 30px 15px;
}

.errMsg{
  color: red;
}

.fa-user {
  font-size: 40px;
  margin: 20px;
  color: #ee8572;
}