.sign-up-card {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -250px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
    padding: 10px;
    text-align: center;
}

.customer-signup {
    display: block;
    margin: 20px 0 30px 0;
}

.fa-user-plus {
    font-size: 40px;
    margin: 20px;
    color: #ee8572;
}

.sign-up-container {
    position: absolute;
    width: 600px;
    height: auto;
    left: 50%;
    top: 15%;
    margin-left: -300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
    padding: 20px;
    
}

.sign-up {
    margin: 20px;
}

.typeBar {
    width: 500px;
    margin-right: 20px;
}