/* Styles for the ImageForm React component */

.image-form {
  text-align: center;
}

.image-form__field {
  display: inline-block;
  padding-right: 20px;
}


.image-form__message--success {
  color: green;
}

.image-form__message--error {
  color: red;
}
